img{
	width:100px;
	height: 100px;
	background-size: 100%;
}

h1{ font-style:unset;
	font-size: 28px;
	color: darkred;
	text-shadow: 1px 1px 1px #000000;
 
    }
body{background-size: 60%;}
table{ border-style: double; 
border-width: 250px
margin: 10px;
margin-right: 50px;
margin-left: 50px;
margin-bottom: 10px;
margin-top: 10px;
border-color: darkred;
padding: 20px;
padding-left: 10px;
padding-right: 10px;
padding-top: 15px;
padding-bottom: 15px;}
th{text-decoration:  underline;}